* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    background-color: #FEFCF3;
}

.header-container {
    display: flex;
    align-items: center;
    margin-top: 3vh;
    flex-direction: column;
}

.page-image {
    width: 200px;
    margin-bottom: 20px;
    margin: 10px;
    max-width: 100%;
}

h1 {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: #323232;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-image {
    width: 150px;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}

.book-image:hover {
    transform: scale(1.1);
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}




.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


#categoryInput {
    padding: 8px;
    margin-right: 8px;
    border-radius: 50px;
    font-size: medium;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 8px 16px;
    background-color: #DBA39A;
    color: #323232;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.2s;
}


button:hover {
    background-color: #F0DBDB;
    transform: translateY(-3px);
}

#returnButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 16px;
    background-color: #DBA39A;
    color: #323232;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.2s;
}


#returnButton:hover {
    background-color: #F0DBDB;
    transform: translateY(-3px);
}

#resultList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #323232;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.2s;
}


#resultList li {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #DBA39A;
    cursor: pointer;
    border-radius: 50px;
    color: #323232;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#resultList li:hover {
    background-color: #F0DBDB;
    transition: background-color 0.3s;
    font-weight: bold;
    color: #323232;
    transform: translateY(-3px);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#bookTitle {
    font-size: 24px;
    margin: 100px;
    color: #323232;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#bookDescription {
    font-size: 20px;
    text-align: left;
    margin: 0 180px;
    line-height: 1.6;
    color: #323232;
}

.loader {
    border: 6px solid #dba39a4e;
    border-top: 6px solid #DBA39A;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {

    #resultList {
        list-style: none;
        padding: 10px;
        text-align: center;
        width: 100%;
        margin: 5px;
    }

    #bookTitle {
        font-size: 24px;
        margin: 70px;
    }

    #bookDescription {
        font-size: 20px;
        text-align: left;
        margin: 0 40px;
        line-height: 1.6;
    }

}